.svakilego {
    font-size: 20px;
    color: #456268 ;
    background-color: #fcf8ec;
}
.svakilego2 {
    font-size: 20px;
    color: #456268 ;
    background-color: #fcf8ec;

}

.svakilego3 {
    font-size: 20px;
    color: #456268 ;
    background-color: #fcf8ec;
}